# Ignore everything in repository root
/*

# Files to not ignore
!/.gitignore
!/.vscode
!/.editorconfig
!/.gitattributes

# Folder to not ignore
!/raw
/raw/*
!/raw/scripts
/raw/scripts/*
!/raw/scripts/mp
/raw/scripts/mp/*
!/raw/scripts/mp/botwarfare-compiled.gsc
!/raw/scripts/mp/botwarfare.gsc
!/raw/scripts/mp/max_allocation_fix_source-compiled.gsc
!/raw/scripts/mp/max_allocation_fix_source.gsc
!/raw/scripts/mp/spectatorKick-compiled.gsc
!/raw/scripts/mp/spectatorKick.gsc

!/.astylerc
!/deploy.js
!/deploy.bat
!/z_deploy.bat

!/raw/maps
/raw/maps/*
!/raw/maps/mp/
/raw/maps/mp/*
!/raw/maps/mp/bots/
!/raw/bw-assets
!/raw/bots.txt
!/raw/maps/mp/teams/
/raw/maps/mp/teams/*
!/raw/maps/mp/teams/_teams-src.gsc
!/raw/maps/mp/teams/_teams.gsc

!/README.md

!/main
/main/*
!/main/dedicated.cfg
!/z_server.bat


*.zip
*.log
*.stat
logs/
demos/
images/
missingasset.csv
