# Ignore everything in repository root
/*

# Files to not ignore
!/.gitignore
!/.vscode
!/.editorconfig
!/.gitattributes

# Folder to not ignore
!/raw
/raw/*
!/raw/scripts

!/.astylerc
!/deploy.js
!/deploy.bat
!/z_deploy.bat

!/raw/maps
/raw/maps/*
!/raw/maps/mp/
/raw/maps/mp/*
!/raw/maps/mp/bots/
!/raw/bw-assets
!/raw/bots.txt
!/raw/maps/mp/teams/

!/README.md

!/main
/main/*
!/main/dedicated.cfg
!/z_server.bat


*.zip
*.log
*.stat
logs/
demos/
images/
missingasset.csv
